:root {
  --card-height: 40vh;
}

.fire {
  background: url('https://c.tenor.com/VbezPY1TRaMAAAAM/fire-flames.gif');
  background-size: contain;
  width: calc(var(--card-height) * 4 / 3);
  margin: 5px;
}

article {
  background: url('./background.jpg');
  background-size: cover;
  color: white;
  height: var(--card-height);
  width: calc(var(--card-height) * 4 / 3);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

article:hover {
  animation: blinker 2s linear infinite;
}

img {
  position: absolute;
  right: 0;
  height: 110%;
}

h2 {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  text-transform: capitalize;
}

.wip {
  border: 2px dotted yellowgreen;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blinker {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
